<!-- ----------------------------------------------->
<!-- Author: Martha Taylor  				  	  -->
<!-- Date: 02th July 2017						  -->
<!-- Module: Mobile and Web Applications (MWA)    -->
<!-- Assessment Number: 2 of 2					  -->
<!-- Assessment Title:  Angular JS (To Do App)    -->
<!-- Lecturer:			Daniel Griffin		      -->
<!-- Individual Assessment       		          -->
<!-------------------------------------------------->

<!DOCTYPE html>

<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
 
<!--initializing my Angular app with ng-app attribute-->
<html data-ng-app>
    <head>
        <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <!--to stop user from acessing the zoom  function-->
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <!--css file link-->
		<link rel="stylesheet" type="text/css" href="css/index.css">
        <title>To Do List</title>
		<meta charset="utf-8">
  
  
  <!--link to phoegap file-->
  <script src="config.xml"> </script>
  <script src="phonegap.js"> </script>
  
	<!--i included a CDN link as the local one did not work properly the code was being displayed 
	to the browser and I could not figure why, so the CDN seemed to fix this-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    
	
    </head>
	
    <body>
	
        <div class="app">
            <h1>Apache Cordova</h1>
            <div id="deviceready" class="blink">
                <p class="event listening">Connecting to Device</p>
                <p class="event received">Device is Ready</p>
            </div>
        </div>
		<h2>Angular JS (To Do App)</h2>
	
	<!--advising html of a controller existence in js file to talk too, think two way data binding-->
    <div ng-controller="TodoListController as todoList">
	    <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
		
		<!--simple way to archive items I have completed from the to do list.[] added simply for display style-->
      [ <a href="" ng-click="todoList.archive()">archive</a> ]
     
	<!--ul items I submit on my form below get added here, with a checkbox each that can be checked off-->
	 <ul class="unstyled">
        <li ng-repeat="todo in todoList.todos">
          <label class="checkbox">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.text}}</span>
          </label>
        </li>
      </ul>
	  
	  <!--input form to add items-->
      <form ng-submit="todoList.addTodo()">
        <input type="text" ng-model="todoList.todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
      </form>
	  
    </div>
		
        <script type="text/javascript" src="cordova.js"></script>
		<!--link to js file with controlloer + functions-->
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>
